<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Amiri|IBM+Plex+Mono|IBM+Plex+Sans|IBM+Plex+Serif&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/stylesheet.css" />

    <title>Home | Look & Point</title>
  </head>

  <body class="text-center">
    <!--puts everything in container that's full width-->
    <div class="container-fluid">
      <!--megarow-->
      <div class="row vh-100">
        <!--vh is what makes the entire row fullscreen-->

        <!--nav column-->
        <div class="col-md-1 text-left">
          <!--text left because of text-center above-->
          <ul class="nav flex-column ml-2">
            <li class="nav-item p-2 mt-3"><a href="index.html">Home</a></li>
            <li class="nav-item p-2"><a href="projects.html">Projects</a></li>
            <li class="nav-item p-2"><a href="blog.html">Blog</a></li>
            <li class="nav-item p-2"><a href="about.html">About</a></li>
          </ul>
        </div>