* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* You need 10 custom rules in your project */

html, body {
  height: 100%;
  background-color: #F7EBEC;
}

body {
  font-family: 'Inconsolata', monospace;
}



/* Boxes */

.box {
  width: 500px;
  height: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.box:hover {
  opacity: 0.3;
  transition: 0.3s;
  position: relative;
  top: 4px;
}


.blue {
  background-color: #2C4B7A;
}

  
.red {
  background-color: #E22B28;
}
 

.orange {
  background-color: #e57937;
}

.saffron {
  background-color: #EFC12B;
}


/* Typography */


h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 1.4em;
}

h2 {
  font-size: 1.3em;
  margin-top: 10px;
}

